<nav
  class="flex items-center justify-between bg-black opacity-80 shadow-md fixed w-full p-3 top-0 z-50"
>
  <div class="flex flex-col justify-center items-center ml-3">
    <div>
      <img
        src="https://thumbs.dreamstime.com/b/coffee-cup-vector-icon-steam-hot-drink-81730552.jpg"
        alt="App Logo"
        class="w-20 h-20 rounded-md cursor-pointer"
      />
    </div>
  </div>
  <ul
    class="flex justify-center items-center text-center ml-50 gap-3 text-white text-2xl"
  >
    <li class="cursor-pointer hover:text-gray-400">
      <a routerLink="/home" routerLinkActive="underline text-red-300">Home</a>
    </li>
    <li class="cursor-pointer hover:text-gray-400">
      <a routerLink="/coffee" routerLinkActive="underline text-red-300"
        >Coffee</a
      >
    </li>
    <li class="cursor-pointer hover:text-gray-400">
      <a routerLink="/about" routerLinkActive="underline text-red-300">About</a>
    </li>
    <li class="cursor-pointer hover:text-gray-400">
      <a routerLink="/contact" routerLinkActive="underline text-red-300"
        >Contact</a
      >
    </li>
  </ul>
  <div class="relative mr-3">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()"
      class="w-64 h-10 px-4 py-2 text-black bg-white placeholder:text-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-amber-500"
      placeholder="Search coffee images..."
    />
    <div *ngIf="searchQuery" class="absolute right-3 top-1/2 -translate-y-1/2">
      <button (click)="clearSearch()" class="text-gray-500 hover:text-gray-700">
        ✕
      </button>
    </div>
  </div>
</nav>
