<div
  class="flex items-center justify-center flex-col text-center min-h-[100vh]"
>
  <div class="flex flex-col justify-center items-center gap-5">
    <h1 class="font-bold text-white text-9xl">Time To Wake Up</h1>
    <button
      class="cursor-pointer relative text-white font-bold bg-emerald-400 hover:brightness-65 hover:ease transition-all inline-block text-lg text-center h-[42px] pt-0 pb-0 pl-[30px] pr-[30px]"
      routerLink="/random"
    >
      Random Coffee
    </button>
  </div>
</div>
